nav {
    position: absolute;
    left: 0;
    right: 0;
    padding: 30px;
    text-align: center;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}
