body {
  margin: 0;
  background-color: #001746;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Page {
  position: absolute;
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translate(-100%, 0px);
}

.Page-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Page-logo {
    animation: Page-logo-spin infinite 20s linear;
  }
}

.Page-header {
  background-color: #410015;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Page main {
  min-height: 100vh;
}

.Page-link {
  color: #ff8fa3;
}

@keyframes Page-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
